Gmail → Agente Claude →JT Telegram v1.1.json
{
  "name": "Gmail → Agente Claude → Telegram v1.1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "e57ffce8-7653-474e-99f7-f94434d3f5b7",
      "name": "Cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1696,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-emails-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df9372cd-d6b6-4935-8440-db8a2184764a",
      "name": "¿Hay correos nuevos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "1556092886",
        "text": "✅ Sin correos no leídos en los últimos 15 minutos. ¡Clientes felices! 😊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "196b53e0-ffc7-4014-adcd-0779a314fa85",
      "name": "Telegram - Sin emails",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1024,
        288
      ],
      "webhookId": "8741d663-7a31-41a4-b123-d8e4168260fe",
      "credentials": {
        "telegramApi": {
          "id": "2WLoM3UankYMd1Ji",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all();\n\n// Lee un header sin importar el formato de salida del nodo Gmail:\n// crudo (payload.headers[]), objeto parseado, string, o headers{}\nfunction getHeader(json, name) {\n  const lower = name.toLowerCase();\n\n  // 1) Gmail crudo (Simplify = OFF): payload.headers = [{ name, value }]\n  if (Array.isArray(json.payload?.headers)) {\n    const h = json.payload.headers.find(x => (x.name || '').toLowerCase() === lower);\n    if (h?.value) return h.value;\n  }\n\n  // 2) headers como objeto: { from: \"...\", subject: \"...\" }\n  if (json.headers && typeof json.headers === 'object') {\n    const val = json.headers[lower] ?? json.headers[name];\n    if (val) return typeof val === 'string' ? val : (val.text || val.value || '');\n  }\n\n  // 3) campo directo: string u objeto parseado { text, value: [{ address, name }] }\n  const direct = json[lower] ?? json[name.charAt(0).toUpperCase() + name.slice(1)];\n  if (direct) {\n    if (typeof direct === 'string') return direct;\n    return direct.text || direct.value?.[0]?.address || '';\n  }\n\n  return '';\n}\n\nconst formatted = emails.map((e, i) => {\n  const j = e.json;\n  const from = getHeader(j, 'from') || 'Desconocido';\n  const subject = getHeader(j, 'subject') || 'Sin asunto';\n  const body = j.text || j.snippet || j.textHtml?.replace(/<[^>]*>/g, '') || '';\n  const bodyTruncated = body.substring(0, 800);\n  return `[CORREO ${i + 1}]\\nDe: ${from}\\nAsunto: ${subject}\\nMensaje: ${bodyTruncated}\\n${'─'.repeat(40)}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    emails_text: formatted,\n    total: emails.length,\n    emails_meta: emails.map(e => ({\n      from: getHeader(e.json, 'from') || 'Desconocido',\n      subject: getHeader(e.json, 'subject') || 'Sin asunto',\n      id: e.json.id\n    }))\n  }\n}];"
      },
      "id": "2ed64f10-a262-467f-a460-8f0b32f06c16",
      "name": "Preparar emails para Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente especializado en análisis de sentimientos de correos de clientes.\n\nAnaliza los siguientes correos y detecta si alguno proviene de un cliente enojado, frustrado o insatisfecho.\n\nCORREOS A ANALIZAR:\n{{ $json.emails_text }}\n\nINSTRUCCIONES:\n- Lee cada correo cuidadosamente\n- Identifica señales de enojo: lenguaje agresivo, quejas, amenazas, urgencia extrema, insultos, mayúsculas excesivas, signos de exclamación múltiples, expresiones de decepción severa\n- Ignora correos de marketing, newsletters o spam que hayan pasado el filtro\n\nResponde ÚNICAMENTE con un objeto JSON válido, sin texto adicional antes ni después:\n{\n  \"hay_enojados\": true,\n  \"total_correos\": 3,\n  \"correos_enojados\": [\n    {\n      \"remitente\": \"cliente@ejemplo.com\",\n      \"asunto\": \"Asunto del correo\",\n      \"nivel_enojo\": \"alto\",\n      \"razon\": \"Breve descripción de por qué está enojado\"\n    }\n  ],\n  \"resumen\": \"Resumen general del estado de los clientes en esta revisión\"\n}"
      },
      "id": "51094496-c362-48b4-95fc-2f3c628380c5",
      "name": "Claude - Analizar tono",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -784,
        -144
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-5",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 5"
        },
        "options": {}
      },
      "id": "1df0f980-33ef-4f99-85db-1b01c7b18903",
      "name": "Claude Sonnet 4.6",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -784,
        112
      ],
      "credentials": {
        "anthropicApi": {
          "id": "8OXIbb8RuwrRsKwl",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.response || '';\n\nlet analysis;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  analysis = {\n    hay_enojados: false,\n    total_correos: 0,\n    correos_enojados: [],\n    resumen: 'No se pudo parsear la respuesta del agente. Revisar manualmente.'\n  };\n}\n\nif (!Array.isArray(analysis.correos_enojados)) {\n  analysis.correos_enojados = [];\n}\nif (typeof analysis.hay_enojados !== 'boolean') {\n  analysis.hay_enojados = analysis.correos_enojados.length > 0;\n}\n\nreturn [{ json: analysis }];"
      },
      "id": "b4006224-a956-44af-b039-6e3aad4e9a7a",
      "name": "Parsear análisis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-angry-check",
              "leftValue": "={{ $json.hay_enojados }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01f31ce9-20ab-463d-b828-145c750279bf",
      "name": "¿Hay enojados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "chatId": "1556092886",
        "text": "=🚨 *ALERTA — Clientes enojados detectados*\n\n📊 *Resumen:* {{ $json.resumen }}\n\n😡 *{{ $json.correos_enojados.length }} correo(s) conflictivo(s):*\n{{ $json.correos_enojados.map(c => `\\n• 👤 *${c.remitente}*\\n  📌 _${c.asunto}_\\n  🔥 Nivel: *${c.nivel_enojo.toUpperCase()}*\\n  💬 ${c.razon}`).join('\\n') }}\n\n⏰ _Detectado: {{ $now.format('DD/MM/YYYY HH:mm') }}_",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b69def62-346a-450f-a8dc-932f070f2858",
      "name": "Telegram - Alerta enojados",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "webhookId": "fb51069b-68b2-4380-9d5a-693721b1837b",
      "credentials": {
        "telegramApi": {
          "id": "2WLoM3UankYMd1Ji",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1556092886",
        "text": "=✅ *Todo tranquilo* — {{ $json.total_correos }} correo(s) no leído(s) revisado(s)\n\n{{ $json.resumen }}\n\n😊 ¡Clientes felices!\n\n_⏰ {{ $now.format('DD/MM/YYYY HH:mm') }}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "16aa17f0-2722-49c0-b9a9-a467c9ddac8a",
      "name": "Telegram - Clientes felices",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "webhookId": "5c55f3ce-f593-443e-9faa-786157602a44",
      "credentials": {
        "telegramApi": {
          "id": "2WLoM3UankYMd1Ji",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "in:inbox newer_than:15m -label:spam is:unread"
        },
        "options": {}
      },
      "id": "1d9db74d-6131-40a8-a21b-4602c3f24047",
      "name": "Gmail - Leer bandeja Jesica diplo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1472,
        192
      ],
      "webhookId": "61fbec31-29fc-4bca-b1dd-e9f7c21f9c04",
      "credentials": {
        "gmailOAuth2": {
          "id": "vleNIhYCydQfMbek",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "in:inbox newer_than:15m -label:spam is:unread"
        }
      },
      "id": "88e5ce22-fefa-4b36-b9fb-51b4a16cca8f",
      "name": "Gmail - Leer jesica personal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1472,
        400
      ],
      "webhookId": "61fbec31-29fc-4bca-b1dd-e9f7c21f9c04",
      "credentials": {
        "gmailOAuth2": {
          "id": "vleNIhYCydQfMbek",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cada 15 minutos": {
      "main": [
        [
          {
            "node": "Gmail - Leer bandeja Jesica diplo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Leer jesica personal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay correos nuevos?": {
      "main": [
        [
          {
            "node": "Preparar emails para Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Sin emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar emails para Claude": {
      "main": [
        [
          {
            "node": "Claude - Analizar tono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.6": {
      "ai_languageModel": [
        [
          {
            "node": "Claude - Analizar tono",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Analizar tono": {
      "main": [
        [
          {
            "node": "Parsear análisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear análisis": {
      "main": [
        [
          {
            "node": "¿Hay enojados?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay enojados?": {
      "main": [
        [
          {
            "node": "Telegram - Alerta enojados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Clientes felices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Leer bandeja Jesica diplo": {
      "main": [
        [
          {
            "node": "¿Hay correos nuevos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Leer jesica personal": {
      "main": [
        [
          {
            "node": "¿Hay correos nuevos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "98555d38-bb94-4a5e-a5c4-a305156aaf59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b582f8add9cfa025d3665d90ccb1d6135aef17026b5935303ec467ff325c072a"
  },
  "nodeGroups": [],
  "id": "ohK7Y6HGHuHMWu4C",
  "tags": [
    {
      "name": "claude",
      "id": "1xdbhBCQts593DkJ",
      "updatedAt": "2026-07-01T21:50:21.693Z",
      "createdAt": "2026-07-01T21:50:21.693Z"
    },
    {
      "name": "telegram",
      "id": "RngmJ7C1xkq5vG15",
      "updatedAt": "2026-07-01T21:50:21.673Z",
      "createdAt": "2026-07-01T21:50:21.673Z"
    },
    {
      "name": "gmail",
      "id": "W7hAoYXL5QeoIuSf",
      "updatedAt": "2026-07-01T21:50:21.644Z",
      "createdAt": "2026-07-01T21:50:21.644Z"
    }
  ]
}